$padding:20px;

@mixin margin {
	margin-right:10px;
	margin-left:10px;
}

@mixin padding{
	padding-top:$padding;
	padding-bottom:$padding;
}

.container-fluid {padding: 0;
margin:0;
overflow: hidden;}

.inicio__titulo--align{
	text-align:center;
}

.inicio__subtitulo--align{
	text-align:center;
}

.inicio__imagenes img {
	display: block;
	margin:auto;
}

.inicio--padding{
	@include padding;
}

.frase--align {
	text-align:center;
}

.frase--padding{
	@include padding;
}

.inicio__productos__imagenes {
	display:flex;
	justify-content:space-around;
}

.staff--flex img {
	display: block;
	margin: auto;
}

.footer--position{
	@media only screen and (min-width: 1024px){
	display: flex; justify-content: space-between;}
	@media only screen and (max-width: 767px){
	display: flex; flex-direction: column;}
}



.footer--padding {
	@include padding;

}

.footer h3 {
	padding-left:$padding;
	@media only screen and (max-width: 767px){
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	}
}

.footer-left {
	display:flex;
	flex-direction:row;
	justify-content:flex-end;
}

.subtitulo--padding {
	padding:$padding;

}

.nosotros--padding{
 padding:$padding;
}

.nosotros__imagen--padding {
	@include padding;
}

.nosotros .row {
	@include margin;
}

.cosmeticanatural {
	@include margin;
}

.cosmeticanatural__carousel--position {
	margin-bottom:20px;

	@media only screen and (min-width: 1024px){
	display: flex;justify-content: flex-start;}
	
}

.cosmeticanatural__texto--position {
	@media only screen and (min-width: 1024px){
	display: flex;flex-direction: column;justify-content: center;
	}
}

.favoritos {
	@include margin;
}

.favoritos--padding {
	@include padding;
	display:flex;
	flex-direction:column;
	justify-content:space-around;}

.favoritos__carousel--padding{
	padding-top:$padding;
	padding-bottom:$padding;
}

.aromaterapia {
	@include margin;
}


.aromaterapia__video {
	display: flex;
	justify-content: center;
}

.contacto__redes--padding {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media screen and (max-width: 767px) {
.ocultar-div{
display:none;
}
}