$padding:20px;

.container-fluid {padding: 0;
margin:0;
overflow: hidden;}

.inicio__titulo--align{
	text-align:center;
}

.inicio__subtitulo--align{
	text-align:center;
}

.inicio__imagenes img {
	display: block;
	margin:auto;
}

.inicio--padding{
	padding-top:$padding;
	padding-bottom:$padding;
}

.frase--align {
	text-align:center;
}

.frase--padding{
	padding-top:$padding;
	padding-bottom:$padding;
}

.inicio__productos__imagenes {
	display:flex;
	justify-content:space-around;
}

.staff--flex img {
	display: block;
	margin: auto;
}

.footer--position{
	@media only screen and (min-width: 1024px){
	display: flex; justify-content: space-between;}
	@media only screen and (max-width: 767px){
	display: flex; flex-direction: column;}
}

.footer--padding {
	padding-top:$padding;
	padding-bottom:$padding;

}

.footer h3 {
	padding-left:$padding;
}

.subtitulo--padding {
	padding:$padding;

}

.nosotros--padding{
 padding:$padding;
}

.nosotros__imagen--padding {
	padding-top:$padding;
	padding-bottom:$padding;
}

.nosotros .row {
	margin-right:10px;
	margin-left:10px;
}

.cosmeticanatural {
	margin-right:10px;
	margin-left:10px;
}

.cosmeticanatural__carousel--position {
	margin-bottom:20px;
	@media only screen and (min-width: 1024px){
	display: flex;justify-content: center;}
	
}

.cosmeticanatural__texto--position {
	@media only screen and (min-width: 1024px){
	display: flex;flex-direction: column;justify-content: center;
	}
}

.favoritos {
	margin-right:10px;
	margin-left:10px;
}
.favoritos--padding {
	padding-top:$padding;
	padding-bottom:$padding;
}

.favoritos__carousel--padding{
	padding-top:$padding;
	padding-bottom:$padding;
}

.aromaterapia__video {
	display: flex;
	justify-content: center;
}

.contacto__redes--padding {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}