$verdeOscuro:#015249;
$marronOscuro:#1E392A;
$verdeFooter:#9DBD9A;
$grisOscuro:#373F27;
$verdeClaro:#A3A847;

body {background-color: white;}

.navbar a:hover{
	border-bottom: solid 1px;
	border-color: white;
}

.inicio__titulo--color {color:$verdeOscuro;}

.inicio__subtitulo--color {color:$marronOscuro;}

.subtitulo--color {color:$marronOscuro;}

.frase--color{color:$verdeOscuro;}

.texto--color {color:$verdeOscuro;}

.staff__nombre--color {color:$verdeClaro;}

.staff__texto--color {color:$verdeOscuro;}

.aromaterapia__subtitulo--color {color:$verdeClaro;}

.footer {
	border-top: solid 2px;
	border-color: black;
}

.footer--color {background-color:white;}

.footer__texto--color h3 {color:black;}

.footer__texto--color h3 a {color:black;}


