$verdeOscuro:#015249;
$marronOscuro:#1E392A;
$verdeFooter:#9DBD9A;
$grisOscuro:#373F27;
$verdeClaro:#A3A847;

body {background-color: white;}

.navbar a:hover{
	border-bottom: solid 1px;
	border-color: white;
}

.inicio__titulo--color {color:$verdeOscuro;}

.inicio__subtitulo--color {color:$marronOscuro;}

.productos {
	background-color:black;
}

.inicio__productos__texto--izquierda h2 {
	color:white;
}
.inicio__productos__texto--derecha h2 {
	color:white;
}
.subtitulo--color {color:$marronOscuro;}

.frase--color{color:$verdeOscuro;}

.texto--color {color:$verdeOscuro;}

.staff {
	background-color:black;
}

.staff .subtitulo--color {
	color:white;
}

.staff__nombre--color {color:$verdeClaro;}

.staff__texto--color {color:white;}

.favoritos--fondo {
	background-color:black;
}

.favoritos__subtitulo--color {
	color:white;
}

.favoritos__texto--color {
	color:white;
}
.aromaterapia__subtitulo--color {color:$verdeClaro;}

.aromaterapia__fondo--color {
	background-color: black;
}

.aromaterapia .texto--color {
	color:white;
}

.aromaterapia--margin {
	border-left:solid;
	border-right:solid;
	border-color:white;
}

.footer {
	border-top: solid 2px;
	border-color: black;
}

.footer--color {background-color:white;}

.footer__texto--color h3 {color:black;}

.footer__texto--color h3 a {color:black;}


