$principal:'Nunito', sans-serif;
$secundaria:'Raleway', sans-serif;
$h1Desktop:70px;
$h1Mobile:50px;
$h2Desktop:50px;
$h2Mobile:30px;

.inicio__titulo--fuente{
	font-family:$principal;
	font-weight: bold;
	font-size:$h1Desktop;
	@media only screen and (max-width:767px){font-size:$h1Mobile;}
}

.inicio__subtitulo--fuente {
	font-family:$secundaria;
	font-weight: bold;
	font-size:$h2Desktop;
	@media only screen and (max-width:767px){font-size:$h2Mobile;}
}

.frase--fuente {
	font-family:$principal;
	font-weight: bold;
	font-size:$h2Mobile;
}

.subtitulo--fuente {
	font-family:$secundaria;
	font-size: 45px;
	text-align: left;
}


.staff__nombre--fuente{
	font-family:$principal;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	text-align:center;
}

.staff__texto--fuente {
	font-family:$principal;
	text-align: center;
	font-weight: bold;
	font-size: 25px; 
	line-height: 30px;
}

.texto--fuente{
	font-family:$principal;
	text-align: center;
	font-weight: bold;
	@media only screen and (min-width: 1024px){
	font-size: 25px; text-align: justify; line-height: 60px
	}
	@media only screen and (max-width: 767px){
	font-size: 20px; text-align: justify;}
	}

.aromaterapia__subtitulo--fuente {
	font-family:$principal;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	text-align:center;
}

.contacto__redes--fuente {
	font-family:$secundaria;
	font-size: 25px;
	color: #373F27;
	font-weight: bold;
}


.footer__texto--fuente{
	font-family:$principal;
	text-decoration: none;
	font-weight:300;
	@media only screen and (min-width: 1024px){
	text-align: center;
	}
	@media only screen and (max-width: 767px){
	text-align:left;
	}
}

.footer__texto--fuente a{
	text-decoration: none; }

.footer__texto--fuente h3{
	@media only screen and (min-width:1024px){
	font-size:25px;
	}
	@media only screen and (max-width:767px){
	font-size:20px;
	}
}


